body {
	background-color: black;
	font-family: Arial;
}

#top-link {
	color: aquamarine;
	font-size: 16px;
	text-align: center;
}

h1 {
	font-family: Verdana;
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: normal;
}

.parent {
	position: relative;
	top: 0;
	left: 0;
}

.video1 {
	position: relative;
        top: 0;
        left: 0;
}

.image1 {
	position: relative;
	top: 0;
	left: 0;
}
