body {
	background-color: black;
	font-family: Arial;
}

#top-link {
	display: block;
	color: aquamarine;
	font-size: 16px;
	text-align: center;
}

h1 {
	font-family: Verdana;
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: normal;
}

h2 {
	font-family: Verdana;
	color: white;
	text-align: center;
	font-size: 42px;
	font-weight: 300;
}

p {
	text-align: center;
	font-family: Verdana;
	font-size: 21px;
	color: gray;
}

.video1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.image1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.image2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	text-align: right;
	color: gray;
}
