body {
	background-color: black;
	font-family: Arial;
}

#top-link {
	color: aquamarine;
	font-size: 16px;
	text-align: center;
}

h1 {
	font-family: Verdana;
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: normal;
}

.video1 {
	position: center;
}

.image1 {
	position: center;
}
